NEXT_PUBLIC_SUPABASE_URL=https://tsqcprowpdueavvkttcm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcWNwcm93cGR1ZWF2dmt0dGNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3ODE4NjcsImV4cCI6MjA4MjM1Nzg2N30.TY3wX6GcIu-PFqxbZ4StQwLoi0AODR5NCfa7m36WIL4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcWNwcm93cGR1ZWF2dmt0dGNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njc4MTg2NywiZXhwIjoyMDgyMzU3ODY3fQ.JwvJo7fhJfyp8prHbU8m4wfc0XGnwx8sLWZjoATOVfk
NEXT_PUBLIC_APP_URL=https://mentrixa.one/
GEMINI_API_KEY=AIzaSyAyaC-RoXvuXsUoZH3RyqcCMZ7AvVhEBTY
STRIPE_SECRET_KEY=sk_test_51Shi4TBNztyijFGSVUopJjMOisXOo8IEDMT0b2GiW2GAqKowGMemspklheeL7oUtGYesb5PMq7842PzX4eTZl4gc004jXdGWwm
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Shi4TBNztyijFGSUBjrgZKDbiWhZvHijmnXe1gVTaHDGFTyIJ8slzzLJsbjChvMizOhAH3RE7WqDPZjp8n45UXN00rxuPIef7
STRIPE_WEBHOOK_SECRET=whsec_h1unUoQS8tdCaMQMsEiDs5wmJx51LRz6
RESEND_API_KEY=re_btHwgRYm_KgnzeZrvY3EFWf4nDEwYXkmX
NEXT_PUBLIC_GOOGLE_CLIENT_ID=502143126668-82silqabuagmjnmah72bq34543oblupb.apps.googleusercontent.com

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BCkKS-U2oDY4SQpGpdrJuffqjlRY_CyWAf3fYJ1kYzPdAAIn8Onrx2UUFBMeTTRvlBNYJNG8Fv1H7OGDsylEBhw
VAPID_PRIVATE_KEY=bJ1O-HtQ9aOZl7rFTSS3tMg7_BWSXjnfbZCg9BDRGUg
